<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/bootstrap-4.0.0-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/navigation.css"/>

    <script src="../static/js/jquery-1.11.2.min.js"></script>
    <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="header">
    <div class="w">
        <!-- 导航栏 -->
        <nav class="nav-top">
            <!-- 左侧导航栏 -->
            <div class="nav-left">
                <div class="logo">
                    <h1><a href="#">联想</a></h1>
                </div>
                <div class="nav-item">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">文件</a></li>
                        <li><a href="#">关于</a></li>
                    </ul>
                </div>
            </div>
            <!--  右侧导航栏 -->
            <div class="nav-right">
                <ul>
                    <li><img src="../static/images/default.png" alt=""/></li>
                    <li>用户名</li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</body>
</html>